{% extends 'base.html' %}

{% block wrapper %}
  <main class="container p-5 mt-5" wid>
    <h3 class="h3 text-center mx-auto mt-5">О проекте</h3>
      <p class="text center mx-auto mb-4">Небольшой проект на фрэймворке Flask. Практика в
          использовании форм, валидации, шаблонизаторов и прочих базовых компонентов.</p>
      <img src="https://repository-images.githubusercontent.com/203664833/cb492980-d0ad-11e9-8409-24df853c7078"
           class="rounded mx-auto d-block" alt="Нет картинки :С">
{% endblock %}