{% extends 'base.html' %}

{% block wrapper %}
  <main class="container mt-3">
    <div class="row mt-5">
      <div class="col-10 col-md-6 offset-1 offset-md-3 mb-3">
        <form action="/booking_done/" class="card mb-3" method="POST">
          <div class="card-body text-center pt-5">
              {% set weeks = {"mon" : "Понедельник", "tue" : "Вторник", "wed" : "Среда", "thu" : "Четверг",
              "fri" : "Пятница", "sat" : "Суббота", "sun" : "Воскресение"} %}
            <img src="{{ teachers[id].picture }}" class="mb-3" width="95" alt="Нет картинки">
            <h2 class="h5 card-title mt-2 mb-2">{{teachers[id].name}}</h2>
            <p class="my-1">Запись на пробный урок</p>
            <p class="my-1">{{ weeks[week] }}, {{ time }}</p>
          </div>
          <hr />
          <div class="card-body mx-3">
              <div class="row">
                  <input class="form-control" type="hidden" name="clientWeekday" value="{{ week }}">
                  <input class="form-control" type="hidden" name="clientTime" value="{{ time }}">
                  <input class="form-control" type="hidden" name="clientTeacher" value="{{ id }}">
              </div>
              {{ form.hidden_tag() }}
              {{ form.name.label(class="mb-1 mt-2") }}
              {% if form.name.errors %}
                  <div class="alert alert-danger" role="alert">
                        {{ form.name(class="form-control alert alert-danger", placeholder='Введите имя...') }}
                        {% for e in form.name.errors %}
                            {{e}}
                        {% endfor %}
                  </div>
              {% else %}
                {{ form.name(class="form-control", placeholder='Введите имя...') }}
              {% endif %}

              {{ form.phone.label(class="mb-1 mt-2") }}
              {% if form.phone.errors %}
                  {{ form.phone(class="form-control alert alert-danger", placeholder='Введите телефон +7XXX...') }}
                  <div class="alert alert-danger" role="alert">
                        {% for e in form.phone.errors %}
                            {{e}}
                        {% endfor %}
                  </div>
              {% else %}
                {{ form.phone(class="form-control", placeholder='Введите телефон +7XXX...') }}
              {% endif %}

            <input type="submit" class="btn btn-primary btn-block mt-4" value="Записаться на пробный урок">
          </div>
        </form>
      </div>
    </div>
  </main>
{% endblock %}